<include file="__THEME__/public_header" />
    <div id="page-wrap">
        <div id="main-wrap">
            <div id="col" class="st-grid">
               <include file="_sidebar" />
                <div id="col7" class="main-right7 boxShadow">
                    <div class="extend border minh">
                        <div class="mod-data">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="__THEME__/public_footer" />
<script src="__THEME__/js/module.weibo.js"></script>