<include file="../Public/header" />
<a href="{:U('wap/Index/detail', array('weibo_id'=>$weibo_id))}">返回评论列表</a>
<div class="addtbox">
回复{$uname}的评论（只取前{$weibo_nums}字）：
<form action="{:U('wap/Index/doComment')}" method="post">
    <input type="hidden" name="weibo_id" value="{$weibo_id}" />
    <input type="hidden" name="to_uid" value="{$to_uid}" />
    <input type="hidden" name="app_uid" value="{$_GET['uid']}" />
    <input type="hidden" name="comment_id" value="{$comment_id}"/>
    <textarea cols="" rows="2" style="width:99%" name="content">回复@{$uname}: </textarea>
    <label><input type="checkbox" name="ifShareFeed" value="1"/>同时转发到我的微博</label>
    <input type="submit" value="发布" />
</form>
</div>
<include file="../Public/footer" />