<include file="../Public/header" />
<div>
<form action="{:U('wap/Index/doSearch')}" method="post">
输入关键字：<br/>
<input type="text" name="key" /><br/>
<input type="submit" name="user" value="搜人"/>
<input type="submit" name="weibo" value="搜微博"/>
</form>
</div>