<include file="../Public/header" />
<!-- 主体内容 -->
<div id="content">
	<div id="to_post_twitter">
		<div id="to_post_twitter_input">  说点儿什么...</div>
	</div>
	<div id="feed_nav">
		<div id="i_gz" class="feed_nav_sort">我关注的⊿</div>
		<div id="all_site" class="feed_nav_sort">全站</div>
		<div id="pd" class="feed_nav_sort">频道</div>
	</div>

	<volist name="weibolist" id="feed">
	<div class="c" cid="{$feed.feed_id}" rowid="{$feed.feed_id}" appid="{$feed.uid}">
		<!-- 判断是否被收藏 -->
		<php>if($feed['iscoll']['colled']==1){</php>
			<div class="sc sc_1" id="sc_{$feed.feed_id}" cid="{$feed.feed_id}"></div>
		<php>}else{</php>
			<div class="sc" id="sc_{$feed.feed_id}" cid="{$feed.feed_id}"></div>
		<php>}</php>

		<!-- 原微博 -->
		<div class="c_info">
			<div class="c_ava">
				<img src="{$feed.avatar_small}" width=40 height=40>
			</div>
			<div class="info_text">
				<div class="c_info_name">{$feed.uname}</div>
				<div class="c_info_more_box">
					<div class="c_time">{$feed.publish_time|friendlyDate}</div>
					<div class="c_zf_count">转发：{$feed.repost_count}</div>
					<div class="c_comment_count">评论：{$feed.comment_count}</div>
				</div>
			</div>
		</div>
		<div class="c_content">
			<php>echo parse_html($feed[feed_content])</php>
		</div>

		<!-- 原微博的图 -->
		<php>if($feed['feedType']=='postimage') {</php>
		<div class="feed_img_box">
			<php>foreach($feed['attach'] as $value){</php>
				<img class="feed" src="{$value['attach_small']}" linkto="{:U('w3g/Index/detail',array('weibo_id'=>$feed['weibo_id']))}">
			<php>}</php>
		</div>
		<php>}</php>

		<!-- 转发 -->
		<php>if ($feed['type'] == 'repost') {</php>
		<div class="c_zf_box">
			<dt class="bgcolor_arrow"><em class="arrline">◆</em><span class="downline">◆</span></dt>
			<div class="c_zf_content">
				<span class="c_zf_content_name">@{$feed.transpond_data.uname}</span>:
				<php>echo parse_html($feed['transpond_data'][feed_content])</php>
			</div>
		<!-- 转发的图 -->
		<php>if($feed['transpond_data']['type']=='postimage') {</php>
			<div class="feed_img_box">
				<php>foreach($feed['transpond_data']['attach'] as $value){</php>
					<img class="feed" src="{$value['attach_small']}" linkto="{:U('w3g/Index/detail',array('weibo_id'=>$feed['weibo_id']))}">
				<php>}</php>
			</div>
		<php>}</php>
			<div class="c_zf_info">
				<div class="c_zf_info_time">{$feed.transpond_data.publish_time|friendlyDate}</div>
				<div class="c_zf_info_counts">
					<span class="c_zf_info_count">转发:{$feed.transpond_data.repost_count}</span>
					<span class="c_zf_info_count">评论:{$feed.transpond_data.comment_count}</span>
					<span class="c_zf_info_count">赞:{$feed.transpond_data.digg_count}</span>
				</div>
			</div>
		<php>}</php>
		</div>
	</div>
	</volist>

	<!-- 分页 -->
	<php>
        $has_pre   = $page > 1;
        $has_after = count($weibolist) >= $item_count;
    </php>
	<div id="pager_box">
		<php>if(!$has_pre){</php>
			<a href="javascript:;" id="prev" class="pager_child pager_p_n_none ">上一页</a>
		<php>}else{</php>
			<a href="{:U('w3g/Index/index',array('page'=>$page-1))}" id="prev" class="pager_child pager_p_n ">上一页</a>
		<php>}</php>
		<select id="page_sel" class="pager_child">
			<php>for($i=0;$i<$count/20;$i++){
					if($i>9)
					break;
			</php>
			<option value="{$i+1}">第{$i+1}页</option>
			<php>}</php>
		</select>
		<php>if(!$has_after) {</php>
			<a href="javascript:;" id="next" class="pager_child pager_p_n_none">下一页</a>
		<php>}</php>
		<php>if($has_after) {</php>
			<a href="{:U('w3g/Index/index',array('page'=>$page+1))}" id="next" class="pager_child pager_p_n">下一页</a>
		<php>}</php>
	</div>
	<!-- 列表结束################################################################################################ -->
<include file="../Public/footer" />