<div class="nav">
    <a href="{:U('wap/Index/post')}">发微博</a> | 
    <a href="{:U('wap/Index/topic')}">话题</a> | 
    <a href="{:U('wap/Index/search')}">搜索</a> 
</div>
<div>
    <a href="{:U('wap/Index/publicsquare')}">微博广场</a> 
    <a href="{:U('wap/Index/index')}">我的首页</a> 
    <a href="{$self_url}">刷新</a> 
    <a href="{:U('wap/Public/logout')}">退出</a>
    <a href="#top">回到顶部</a>
    <a href="{:U('wap/Public/wapToNormal')}">访问普通版</a>
</div>
</body>
</html>